<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">		

		<div class="f3">
			<img class="bg" src="./images/bg.jpg" inline />		
			<img class="color wave_a" src="./images/wave_a.png" inline />
			<img class="color wave_b" src="./images/wave_b.png" inline />		
			
			<img class="retina can" src="./images/can.png" inline />		
			
		</div>

		
		<img class="white" src="./images/bg_white.png" alt="" inline>		
		<img class="logo" src="./images/logo.png" alt="" inline>		

		<img class="retina txt" src="./images/txt.png" alt="" inline>


		<img class="cta" src="../_common/images/cta_fr.svg" inline />
		
		<!-- <div class="f4">
			<img class="" src="./images/bg_white.jpg" alt="" inline>
			
			<img class="logo" src="./images/logo.png" alt="" inline>		
		</div> -->

		


	</div>


</div>