<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">		
		<img class="retina f1" src="./images/f1.jpg" alt="" inline>		
		<img class="retina f2" src="./images/f2.jpg" alt="" inline>

		<div class="f3">
			<img class="bg" src="./images/bg.jpg" inline />		
			<img class="color wave_a" src="./images/wave_a.png" inline />
			<img class="color wave_b" src="./images/wave_b.png" inline />		
			<!-- <img class="" src="./images/f3.png" inline />		 -->
			<img class="can" src="./images/can.png" inline />		
			<div class="bar_cta bar"> </div>
			<img class="bar_cta cta" src="../_common/images/cta.svg" inline />
		</div>

		<div class="f4">
			<img class="retina" src="./images/bg_white.jpg" alt="" inline>
			<img class="cta" src="../_common/images/cta.svg" inline />
		</div>

		


	</div>

	<div class="frame frame2">			
		
	</div>


	

	<div class="frame frame4">			
		
	</div>
</div>