<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">		

		

		<img class="bg_blue" src="./images/bg.jpg" alt="" inline>		
		<img class="retina wave wave_a" src="./images/wave_a.png" alt="" inline>
		<img class="retina wave wave_b" src="./images/wave_b.png" alt="" inline>
		<img class="white" src="./images/bg_white.png" alt="" inline>		
		

		<img class="retina txt" src="./images/txt.png" alt="" inline>
		<img class="retina can" src="./images/can.png" alt="" inline>




		<img class="cta" src="../_common/images/cta_fr.svg" inline />

		
		<!-- <div class="f4">
			<img class="" src="./images/bg_white.jpg" alt="" inline>
			
			<img class="logo" src="./images/logo.png" alt="" inline>		
		</div> -->

		


	</div>


</div>