

@import '../../../_common/styles/common.scss';


.frame1, .frame2, .frame3, .frame4 {
	opacity: 0;
	
}

.frame1{
	opacity: 1;
}


.f1 {
	opacity: 1;
	// @include pos-scale(0, 0, 1);	
}

.f2 {
	@include pos-scale(300, 0, 1);	
}

.f3 {
	width: 300px;
	height: 250px;
	overflow: hidden;
	// @include pos-scale(600, 0, 1);	
	

	.bar{
		width:300px;
		height: 45px;
		background-color: rgba(255, 255, 255, 0.9);
		@include pos(0, 204);
	}
}

.f4 {
	@include pos-scale(900, 0, .5);	

	
	.logo{
		width: 475px;
		@include pos(62, 10);
	}

	
}

.cta{
	width: 192px;
	@include pos(56, 152);
}

.can{
	@include pos(0, -180);
}





#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

